/*use # to target id tags . for classes*; changes the background color of the page*/
#title{
    background-color: #ff4c68;
    color: #fff;
}
body{
    font-family: Montserrat;
}
.container-fluid{
    padding: 3%, 15%;
}
/* Is 'h1' label rather than class .font-mts in tutorial */
.font-mts{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900; /*Montserrat-Black*/
    /* font-size: xx-large; */
    /* line-height: 100%; */
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar{
    /* padding-bottom: 4.5rem; */
    /* Explicitly define 0 padding; extra padding is included with Bootstrap navbar */
    padding: 0 0 4.5rem;
}
.navbar-brand{
    /* Add font to navbar */
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-item{
    /* Add padding to navbar items */
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    /* font-family: Montserrat-light */
    font-family: Montserrat;
    font-weight: 100;
}
/* Download Buttons */
.download-button{
    /* Change margins for download buttons */
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 60%;
    /* Rotate -pi/8 */
    transform: rotate(0.392699081rad);
    padding: 7% 7%;
}
/* Features Section */
/* Replace the .mid-row class with feature-title-text */
#features{
    padding: 7% 15%;
}
.mid-span{
    vertical-align: middle;
    text-align: center;
    /* Include hover animateion (test) */
}
/* .middle-icon{
    vertical-align: middle;
    text-align: center;
} */
/* .mid-row{
    // Add padding to top of Features section 
    padding: 4.5rem 0 0 0;
} */
.feature-title-text{
    font-family: Montserrat;
    font-weight: 900;
}
.colorize-orange{
    color: #ff4c68;
    margin-bottom: 1rem;
    transition: color 0.25s;
    /* transition: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
    transition: size 0.25s;
}
.colorize-orange:hover{
    color: #fe9c9c;
    /* Increase icon by 50% on hover of cursor */
    /* Scaling is based off of original icon size so a 150% 'increase' from 100% would 
        be 37.5% size for a 4x icon 
        Currently utilizing a 12.5% increase in size on hover*/
    font-size: 450%;
}

/* Testimonial Section */
#testimonials{
    text-align: center;
    color: #fff;
    background-color: #fe9c9c;
}
.testimonials-header{
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: auto;
    /* text-align: center; */
    align-items: center;
}

/* .carousel-item{
    padding: 7% 15%;
    align-items: center;
    text-align: center;
} */
/* Remove shading from carousel icons*/
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }

/* Press Section */
#press{
    background-color: #fe9c9c;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 50px;
}
.pricing-header{
    vertical-align: middle;
    text-align: center;
}
/* For smaller devices (< 1028px) */
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* Round Up Section */

#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
    /* align-items: center; */
}
.action-item{
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.cta-span{
    vertical-align: middle;
    text-align: center;
    /* Include hover animateion (test) */
}